@import "tailwindcss";

@theme {
    --color-natt: #172c51;
    --color-himmel: #e3edf1;
    --color-lun: #ffddbd;
    --color-strong: #2e4aca;
    --color-lys: #ffeddc;
}

body {
    font-family: inherit;
}
